<div class="card" style="width: 318px;">
  <% if (guild.icon) { %>
    <img class="card-img-top" style="width: 100%; border-radius: 50%;" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=512` %>" alt="<%= guild.name %>">
  <% } else { %>
    <canvas style="background-color: #7289da" class="card-img-top" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="318px" height="318px"></canvas>
    <script>
      function draw() {
        const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
        ctx.font = '128px Arial';
        ctx.textAlign = "center";
        ctx.fillStyle = "white";
        ctx.textBaseline = "middle";
        ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 159, 159);
      };
      draw();
    </script>
  <% } %>
    <div class="card-body">
       <li class="list-group-item"><strong>Sunucu</strong> : <i class="fa fa-fw fa-server" aria-hidden="true"></i> <%= guild.name %></li>
      <ul class="list-group list-group-flush" style="width: 100%">
        <li class="list-group-item" style="width: 100%"><strong>Sahip</strong> : <i class="fa fa-fw fa-user-circle-o" aria-hidden="true"></i> <%= `${guild.owner.user.tag}` %></li>
        <li class="list-group-item"><strong>Üye Sayısı</strong> : <i class="fa fa-fw fa-users" aria-hidden="true"></i> <%= `${guild.memberCount}` %> (<i class="fa fa-fw fa-android" aria-hidden="true"></i> <%= `${guild.members.filter(m => m.user.bot).size}` %> Bot )</li>
        <li class="list-group-item"><strong>Rol Sayısı</strong> : <i class="fa fa-fw fa-users" aria-hidden="true"></i> <%= guild.roles.size %></li>
        <li class="list-group-item"><strong>Kanal Sayısı</strong> : <i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> <%= `${guild.channels.filter(c => c.type === 'text').size}`%> <i class="fa fa-fw fa-microphone" aria-hidden="true"></i> <%= `${guild.channels.filter(c => c.type === 'voice').size}`%></li>
      </ul>
      <br>
      <a class="btn btn-danger" data-toggle="modal" data-target="#serverLeaveModal" role="button">Botu At<i class="fa fa-fw fa-sign-out" aria-hidden="true"></i></a>
    </div>
</div>